html{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐸</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
body{
    background-color: #46904796
}
img{
    height: 500px;
}
h1, h2{
    color: white
}
h1{
    text-align: center;
}
.scroll{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
